@media screen and (min-width: 120em) {

	#clients-section:after,
	#featured-content-section:after,
	#team-content-section:after,
	.why-choose-us-section:after {
	    bottom: -114px;
	}

	#promotion-section .entry-container-frame .section-subtitle,
	#promotion-section.content-frame .entry-container-frame .section-subtitle {
	 	font-size: 130px;
	 	font-size: 8.125rem;
	}
}
